footer.footer
	.top
		.button.top.modal__carrinho
			p ver meu carrinho
	.down
		a.button.left(href="/loja.html")
			.inside
				p compre / assine
		a.button.right(href="/colabore.html")
			.inside
				p colabore
