header.header
	.header__left
		a(href="/index.html")
			img(src="/images/textlogo.png")
	.header__right
		nav.menu
			.modal__btn
			ul.top
				//- li #[a(href="./noticias.html") notícias]
				//- li #[a(href="#") second item]
				//- li.dropdown dropdown
					ul
						li #[a(href="#") first item]
						li #[a(href="#") second item]
				li #[a(href="#contato") contato]




