header.header
	.header__top
		a.versalete(href="/index.html") Tempos Fantásticos
	.header__bottom
		p.header__bottom_left ano 2
		p.header__bottom_center O Jornal Atemporal
		a.header__bottom_right(href="/loja.html") assine já
