.cards
	display: flex
	justify-content: space-around
	color: white
	background-color: white
	position: relative
	align-items: stretch
	flex-wrap: wrap
	.card
		display: flex
		flex-direction: column
		justify-content: space-between
		background-color: $roxo
		flex: 1
		padding: 10px 40px
		max-width: 230px
		min-width: 230px
		border-radius: 5px
		+below(1080px)
			margin-top: 40px
		h3
			font-size: 1.5em
			line-height: 1.5em
			padding-bottom: 10px
		p
			font-size: 0.95em
			line-height: 1.3em
	button
		margin-top: 20px
