@require '/vars'

footer
	padding: 50px 0
	background-color: $roxo
	color: $amarelo
	display: flex
	width: 100%
	height: auto
	align-items: center
	.logo
		display: flex
		justify-content: center
		flex: 1
		width: 0
		img
			max-height: 400px
			+tablet()
				max-height: 300px
			+below(880px)
				max-height: 150px
	.form_container
		flex: 1
		width: 0
		form
			margin-top: 15px
		label
			font-style: italic
			font-weight: 100

	+below(880px)
		display: block
		.logo
			display: block
			margin: 0 auto
			width: 100%
			text-align: center
		.form_container
			display: block
			margin: 50px auto 0 auto
			width: 100%
			text-align: center

