@require '/vars'

// Settings gerais
body
	font-family: 'Cardo', serif
	width: 100%
	font-size: $def-f-size
	font-weight: 300
	line-height: 1
	&.noscroll
		overflow: hidden
p
div
	font-size: $def-f-size
	font-weight: 300

h1
h2
h3
h4
h5
	font-size: $def-f-size
	font-weight: 400
	font-style: italic

section
	margin: 50px auto
	max-width: 700px
	height: auto

main
	margin-bottom: 130px

button
.button
	@extend $buttons


