@require '/vars'

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	background-color: white
	z-index: 1000
	border-bottom: 1px solid black
	margin-bottom: 40px
	&__top
		padding-top: 5px
		text-align: center
		a
		a:hover
		a:active
		a:visited
		a:link
			text-decoration: none
			color: black
			font-size: 1.3em
			font-weight: 700
		a:after
			content: none
	&__bottom
		padding: 5px 10px
		display: flex
		justify-content: space-between
		font-weight: 300
		font-style: italic
		p
			font-size: 0.7em
		a
		a:hover
		a:active
		a:visited
		a:link
			font-size: 0.7em
