@require '/vars'

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	background-color: $amarelo
	z-index: 1000
	display: flex
	justify-content: space-between
	&__left
		display: flex
		align-items: center
		img
			width: 250px
			height: auto
			padding-top: 5px
	.menu
		display: flex
		align-items: stretch
		a
			cursor: pointer
			display: block
			font-weight: bold
			padding: 10px 15px
			color: $roxo
			border: solid 2px $amarelo
			background-color: $amarelo
			&:hover
				transform: scale(1.2)
				background-color: $amarelo !important

	a, a:hover,	a:active, a:visited, a:link
		font-style: regular
		color: $roxo
		transition: none
		cursor: pointer
		font-size: 1em
		box-shadow: none
		&:hover
			color: $roxo
			background-color: transparent
