@require '/vars'

.home
	.inicio
		background-color: $roxo
		color: $amarelo
		height: 50vh
		display: flex
		max-width: 100%
		.phrase
			flex-grow: 0
			display: flex
			align-items: center
			justify-content: center
			blockquote
				width: 50%
				p
					font-size: 1.5em
					line-height: 1.2em
				small
					font-size: 1em
					line-height: 2em
		.logo
			flex-grow: 0
			margin-right: 20%
			display: flex
			img
				align-self: center
				width: 100%
				height: auto
				max-width: 280px


