@require '/vars'

.home
	// Video da home
	.video
		.video__full

			position: relative
			padding-top: 25px
			margin-bottom: 2%
			height: 80vw
			max-height 80vh
			iframe
				transition: filter 0.3s
				filter: grayscale(100%);
				&:hover
					filter: grayscale(0%);
				height: 80vw
				max-height 80vh
				width: 100%
		.video__half
			position: relative
			padding-top: 0
			height: 50vw
			display: flex
			justify-content: space-between
			iframe
				transition: filter 0.3s
				filter: grayscale(100%);
				&:hover
					filter: grayscale(0%);
				width: 49%
				height: auto
	.icon
		margin: 30px auto
		width: auto
		display: flex
		align-items: center
		justify-content: center
		a
			padding: 0
			&::after
				content: none
		svg
			height: 30px
			margin: 0 10px
			transition: all 0.3s
			&:hover
				transform: translateY(-10px)

	.form
		a
			text-decoration none

	.expediente
		&__txt
			font-weight: bold
			font-style: italic
			font-size 1.3em
		&__inner
			padding: 20px
		border: 1px solid black
		border-radius 3px
		@extend $width

