@require '/vars'

#assine
	@media (max-width: 480px)
		h2.subtitle
			margin-bottom: 0
	a
		color: black
		text-decoration: none
	.video
		position: relative
		padding: 25px 0
		margin-bottom: 2%
		height: 30vw
		max-width: 700px
		min-height: 30vh
		margin: 0 auto
		iframe
			height: 30vw
			min-height: 30vh
			width: 100%

.compre
	.loja
		@extend $width
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		@media (max-width: 700px)
			flex-direction: column
		.loja__item
			margin-bottom: 50px
			position: relative
			max-width: 330px
			@media (max-width: 700px)
				padding: 0 20px
				margin: 0 auto 50px auto
			img
				width: 100%
				height: auto
				border: 1px solid black
			.loja__numero
				font-weight: bold
				font-size: 1.5em
				margin: 10px 20px
			.loja__preco
				display: flex
				justify-content: space-between
				.preco_txt
					font-size: 0.8em
					padding-bottom: 10px
				.preco_preco
					width:66%
					.preco_num
						font-size: 1.3em
						font-weight: bold
				.preco_qtd
					width:33%
					input
						margin: 0
						padding: 0 10px


