@require '/vars'

.subtitle
	@extend $width
	color: $roxo
	padding: 0 20px
	margin-bottom: 40px
	position: relative
	font-size: 2.5em
	line-height: 1.3em
	// // // //
	// Dá pra usar isso no Blog
	// // // //
	// &::before
	// 	content: url('../images/hand.png')
	// 	position: absolute
	// 	left: -70px
	// 	@media (max-width: 880px)
	// 		display: none
	@media (max-width: 510px)
		font-size: 2em

.text
	h1
	h2
	h3
	h4
		font-weight: bold
		margin: 0 0 0 30px
		position: relative
		color: $roxo
		&:after
			font-weight: 100
			content: '>'
			position: absolute
			top: 0
			left: -30px
			color: $amarelo
	h1
		font-size: 1.7em
		line-height: 2em
	h2
		font-size: 1.3em
		line-height: 2em
	h3
		font-size: 1em
		line-height: 2em
	h4
		line-height: 2em
		font-style: normal
