// Variáveis
$def-f-size = 20px
$def-l-height = 150%
$width
	max-width: 700px
	margin: 0 auto 15px auto
$roxo = #2b1547
$amarelo = #ffba49

$buttons
	display: block
	width: 100%
	margin: 10px auto
	height: auto
	padding: 10px
	color: white
	background-color: black
	cursor: pointer
	transition: 0.2s
	&:hover
		background-color: white
		color: black
		font-weight: bold
		border: 2px solid black
