<header class="header">
  <div class="header__left">
    <a href="/index.html">
      <img src="/images/textlogo.png">
    </a>
  </div>
  <div class="header__right">
    <nav class="menu">
      <div class="modal__btn"></div>
      <ul class="top">
        <li>
          <a href="./noticias.html">notícias</a>
        </li>
        <li>
          <a href="#">second item</a>
        </li>
        <li class="dropdown">dropdown
          <ul>
            <li>
              <a href="#">first item</a>
            </li>
            <li>
              <a href="#">second item</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#contato">contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>