<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  <title>Hypnoethos</title>
  <meta name="description" content="Hypnoethos">
  <meta name="keywords" content="hipnose, terapia, hipnoterapia">
  <link rel="canonical" href="http://www.hypnoethos.com/">
  <meta property="og:url" content="http://www.hypnoethos.com/">
  <meta property="og:image" content="http://www.hypnoethos.com/images/social.png">
  <meta property="og:description" content="Hypnoethos">
  <meta property="og:title" content="Hypnoethos">
  <meta property="og:site_name" content="Hypnoethos">
  <meta property="og:see_also" content="http://www.hypnoethos.com/">
  <meta itemprop="name" content="Hypnoethos">
  <meta itemprop="description" content="Hypnoethos">
  <meta itemprop="image" content="http://www.hypnoethos.com/images/social.png">
  <meta name="twitter:card" content="Hypnoethos">
  <meta name="twitter:url" content="http://www.hypnoethos.com/">
  <meta name="twitter:title" content="Hypnoethos">
  <meta name="twitter:description" content="Hypnoethos">
  <meta name="twitter:image" content="http://www.hypnoethos.com/images/social.png">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@angelod1as">
</head>