@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i')

// RESET
@import './components/reset'
@import './components/vars'

// General
@import './components/general'

// Radio buttons and checkboxes
@import "./components/checkboxes"

// Header
@import './components/header'

// Títulos e Subtítulos
@import './components/titles'

// Texto
@import './components/text'

// Todas as forms
@import './components/forms'

// Footer
@import "./components/footer"

// Home
@import './components/home'

// Loja
@import './components/store'
@import './components/modal'

// Links
@import './components/links'
