extend ../layouts/special_blank

append variables
	- var headline= 'Tempos Fantásticos: O Jornal Atemporal';
	- var pageDescription= 'O Tempos Fantásticos é um jornal satírico de ficção científica e especulativa com periodicidade mensal. Assine já ou baixe a primeira edição gratuitamente!';
	- var url= 'http://www.temposfantasticos.com/';
	- var keywords= 'jornal, newspaper, sci-fi, ficção, científica, science, fiction, especulativa';
	- var share_title= headline;
	- var share_type= 'article';
	- var share_image= url + 'images/social.png';
	- var share_description= pageDescription;

block content
	include ../includes/header
	
	main.home
		section#conheca
			h1.title
				span.title__first você conhece o
				span.title__second.versalete Tempos Fantásticos?
				.icon
					//- face
					a(href='http://www.facebook.com/temposfantasticos', target="_blank")
						svg(xmlns='http://www.w3.org/2000/svg', fill-rule='evenodd', stroke-miterlimit='1.41', viewbox='0 0 16 16', clip-rule='evenodd', stroke-linejoin='round')
							path(fill-rule='nonzero', d='M15.12 0H.88C.4 0 0 .4 0 .88v14.24c0 .5.4.88.88.88h7.67V9.8h-2.1V7.4h2.1V5.6c0-2.06 1.26-3.18 3.1-3.18.88 0 1.64.06 1.86.1v2.15h-1.27c-1 0-1.2.48-1.2 1.18V7.4h2.4l-.3 2.4h-2.1V16h4.1c.47 0 .87-.4.87-.88V.88c0-.48-.4-.88-.88-.88')
					//- insta
					a(href='http://www.instagram.com/temposfantasticos', target="_blank")
						svg(xmlns='http://www.w3.org/2000/svg', fill-rule='evenodd', stroke-miterlimit='1.4', viewbox='0 0 16 16', clip-rule='evenodd', stroke-linejoin='round')
							path(d='M8 0H4.7c-1 0-1.4.2-2 .4-.5.2-1 .5-1.4 1-.4.4-.7.8-1 1.4l-.3 2v6.5c0 .8.2 1.4.4 2 .2.5.5 1 1 1.4.4.4.8.7 1.4 1l2 .3h6.5c.8 0 1.4-.2 2-.4.5-.2 1-.5 1.4-1 .4-.4.7-.8 1-1.4l.3-2V4.7c0-1-.2-1.4-.4-2-.2-.5-.5-1-1-1.4-.4-.4-.8-.7-1.4-1l-2-.3H8zm0 1.4h3.2c.8 0 1.2.3 1.5.4.4 0 .7.3 1 .6.2.2.4.5.5 1 0 .2.3.6.3 1.4v6.4c0 .8-.2 1.2-.3 1.5 0 .4-.3.7-.6 1-.3.2-.5.4-1 .5-.2 0-.6.3-1.4.3H4.7c-.7 0-1.2-.2-1.5-.3-.3 0-.6-.3-1-.6l-.5-1-.3-1.4V4.7c0-.7.2-1.2.3-1.4.2-.4.3-.7.6-1l1-.6c.2 0 .6-.2 1.4-.2H8zM8 4C5.7 4 4 5.6 4 8s1.7 4 4 4 4-1.7 4-4-1.7-4-4-4zm0 6.7c-1.5 0-2.7-1.2-2.7-2.7 0-1.5 1.2-2.7 2.7-2.7 1.5 0 2.7 1.2 2.7 2.7 0 1.5-1.2 2.7-2.7 2.7zm5.2-7c0 .6-.4 1-1 1s-1-.4-1-1 .5-1 1-1 1 .5 1 1z')

			.text
				p O #[b.versalete Tempos Fantásticos] é um jornal satírico de ficção científica e especulativa, com notícias do futuro, passado e presentes alternativos.
				p Nele, você encontra textos em formato jornalístico, colunas opinativas, ilustrações, quadrinhos e até anúncios, todos sob o guarda-chuva da ficção especulativa: sci-fi, fantasia, horror e ficção histórica.
				p Uma nova edição do Jornal Atemporal sai todo mês, fresquinha, e é enviada para sua caixa de email ou de correio através de nosso sistema de assinatura. Com uma colaboração mensal a partir de #[b R$ 2], você já pode receber o #[b.versalete Tempos Fantásticos] na caixa de entrada ou do correio.
				p Não perca mais tempo, #[a(href="http://apoia.se/temposfantasticos", target="_blank") assine já].

			//- section.video
			//- 	<iframe src="https://www.youtube.com/embed/VLWrmqSok8A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

			section.video
				.video__full
					iframe(src='https://www.youtube.com/embed/VLWrmqSok8A?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
				.video__half
					iframe(src='https://www.youtube.com/embed/C-INPxOb9wA?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
					iframe(src='https://www.youtube.com/embed/deyWJ6Kzr2Y?rel=0&showinfo=0', frameborder='0', allowfullscreen='')

			section#como-funciona
				h2.subtitle como funciona?
				.text
					p Após um ano sob a tutela do fundador Angelo Dias, atual editor-chefe, o Jornal Atemporal é produzido por um grupo de pessoas apaixonadas pela ficção.
					p Sempre em tom satírico —às vezes beirando o humor— trazemos textos fantásticos e surreais de todo o espaço-tempo. Seja manipulando a história ou prevendo o futuro, o #[b.versalete Tempos Fantásticos] é puro entretenimento para quem gosta de ler.
					p Você pode ler a décima terceira edição do jornal gratuitamente clicando no link abaixo. A manchete fala sobre o menino do Acre que, diferente do imaginado, não sumiu. Ele foi abduzido e ganhou uma bolsa de estudos em Marte.
					form.form.download
						button.button Baixe já a primeira edição (do segundo ano) #[b gratuita]

			section#newsletter.text
				h2.subtitle receba a newsletter
				.form
					include ../includes/mailchimp-form

			section#quem-somos
				h2.subtitle quem somos?
				.text
					p Nossa equipe é composta por seis pessoas excepcionais, cada uma com seus superpoderes. O #[b.versalete Tempos Fantásticos] está em eterna mudança, então os nomes abaixo podem ser outros dependendo da sua linha temporal.
					.expediente
						.expediente__inner
							p.expediente__txt Expediente
							p #[b Angelo Dias]#[a(href="//www.angelodias.com.br", target="_blank") (conheça)]#[br]Criador, Executor e Editor-chefe.
							//- p #[b Bel Delalamo]#[br] Diretora de Comunicação, Promoção e Ordem na Casa.
							//- p #[b Fernando Aires]#[br] Diretor de Burocracia, Gestão e Outras Coisas Chatas.
							p #[b Jana Bianchi]#[br] Diretora de Projetos, Comunicação e Mirabolâncias
							p #[b João P. Lima] #[a(href="//medium.com/@joaopedro.lgoncalves", target="_blank") (conheça)]#[br] Diretor de Edição, Revisão e Criações Maravilhosas.
							p #[b Ludimila Honorato]#[br] Diretora de Revisão, Correção e Ajustes de Conduta.
							p #[b Raphael Andrade]#[br] Diretor de Ilustração, Traçados e Experimentos Estéticos.

	include ../includes/footer
			

