extend ../layouts/special_blank

append variables
	- var headline= 'Hypnoethos';
	- var pageDescription= 'Hypnoethos';
	- var url= 'http://www.hypnoethos.com/';
	- var keywords= 'hipnose, terapia, hipnoterapia';
	- var share_title= headline;
	- var share_type= 'article';
	- var share_image= url + 'images/social.png';
	- var share_description= pageDescription;

block content
	include ../includes/header
	
	.news
		.head
			h1 notícias
		section.post
			h2.subtitle Título do post
			.text
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque vero, numquam eius sed, ullam fugiat voluptatem veniam quam maxime iure, reiciendis vel! Ipsum consequatur ipsa vitae tenetur, exercitationem doloribus!
				a(href="./post.html", title="post").button_link
					button leia mais

		section.post
			h2.subtitle Título do post
			.text
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque vero, numquam eius sed, ullam fugiat voluptatem veniam quam maxime iure, reiciendis vel! Ipsum consequatur ipsa vitae tenetur, exercitationem doloribus!
				a(href="./post.html", title="post").button_link
					button leia mais

	include ../includes/footer
